@font-face {
  font-family: "iconfont"; /* Project id 1747955 */
  src: url('iconfont.woff2?t=1670546074846') format('woff2'),
       url('iconfont.woff?t=1670546074846') format('woff'),
       url('iconfont.ttf?t=1670546074846') format('truetype'),
       url('iconfont.svg?t=1670546074846#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moreandroid:before {
  content: "\e6a5";
}

.icon-qrcode:before {
  content: "\e6b0";
}

.icon-iostime:before {
  content: "\e811";
}

.icon-timefill:before {
  content: "\e65e";
}

.icon-time:before {
  content: "\e65f";
}

.icon-apps:before {
  content: "\e729";
}

.icon-copy:before {
  content: "\e8b0";
}

.icon-clear:before {
  content: "\e60f";
}

.icon-filter:before {
  content: "\e6c7";
}

.icon-line-usermanagement:before {
  content: "\e675";
}

.icon-i-back-top:before {
  content: "\e613";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-nv:before {
  content: "\e8b4";
}

.icon-add-customer:before {
  content: "\e62c";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-pengyouquan:before {
  content: "\e60b";
}

.icon-xinlang:before {
  content: "\e60c";
}

.icon-weixin:before {
  content: "\e60d";
}

.icon-download-storage:before {
  content: "\e9d6";
}

.icon-barrageclose:before {
  content: "\e696";
}

.icon-barrageopen:before {
  content: "\e697";
}

.icon-answer-succ:before {
  content: "\e64d";
}

.icon-roundleftfill:before {
  content: "\e79e";
}

.icon-favorfill:before {
  content: "\e64b";
}

.icon-favor:before {
  content: "\e64c";
}

.icon-pic:before {
  content: "\e69b";
}

.icon-picfill:before {
  content: "\e72c";
}

.icon-album:before {
  content: "\e734";
}

.icon-map:before {
  content: "\e6ce";
}

.icon-exit_fullscreen:before {
  content: "\e64a";
}

.icon-form:before {
  content: "\e699";
}

.icon-text:before {
  content: "\e791";
}

.icon-pause:before {
  content: "\e63a";
}

.icon-pause1:before {
  content: "\e60a";
}

.icon-full_screen:before {
  content: "\e609";
}

.icon-question1:before {
  content: "\e648";
}

.icon-lock:before {
  content: "\e6c0";
}

.icon-unlock:before {
  content: "\e6c2";
}

.icon-share1:before {
  content: "\e618";
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-share3:before {
  content: "\e8b";
}

.icon-cascades:before {
  content: "\e67c";
}

.icon-play1:before {
  content: "\e7ea";
}

.icon-bullet-chat3:before {
  content: "\e85f";
}

.icon-bullet-chat1:before {
  content: "\e7d0";
}

.icon-skip:before {
  content: "\e6be";
}

.icon-commentfill:before {
  content: "\e666";
}

.icon-play-fill:before {
  content: "\e67e";
}

.icon-examine-again:before {
  content: "\e608";
}

.icon-examine-ready:before {
  content: "\e607";
}

.icon-examine-err:before {
  content: "\e603";
}

.icon-examine-first:before {
  content: "\e604";
}

.icon-reward-ready:before {
  content: "\e605";
}

.icon-reward-reach:before {
  content: "\e606";
}

.icon-pass:before {
  content: "\e601";
}

.icon-sorting:before {
  content: "\e766";
}

.icon-dressing-fill:before {
  content: "\e654";
}

.icon-search:before {
  content: "\e67d";
}

.icon-minus-circle:before {
  content: "\e780";
}

.icon-radiobox:before {
  content: "\e75b";
}

.icon-round:before {
  content: "\e6d7";
}

.icon-phone:before {
  content: "\eb9a";
}

.icon-phone-fill:before {
  content: "\ebad";
}

.icon-edit:before {
  content: "\e602";
}

.icon-share:before {
  content: "\e6f3";
}

.icon-attendance:before {
  content: "\e62e";
}

.icon-hot:before {
  content: "\e600";
}

.icon-all:before {
  content: "\e619";
}

.icon-order:before {
  content: "\e655";
}

.icon-arrow-left:before {
  content: "\e6f8";
}

.icon-minus-circle-fill:before {
  content: "\e844";
}

.icon-play:before {
  content: "\e624";
}

.icon-forward:before {
  content: "\e8f2";
}

.icon-fastforward:before {
  content: "\e8f3";
}

.icon-stepbackward:before {
  content: "\e8f4";
}

.icon-stepforward:before {
  content: "\e8f5";
}

.icon-caretdown:before {
  content: "\e8ec";
}

.icon-backward:before {
  content: "\e8ed";
}

.icon-caretup:before {
  content: "\e8ee";
}

.icon-caretright:before {
  content: "\e8ef";
}

.icon-caretleft:before {
  content: "\e8f0";
}

.icon-fastbackward:before {
  content: "\e8f1";
}

.icon-record:before {
  content: "\e7a6";
}

.icon-recordfill:before {
  content: "\e7a4";
}

.icon-download:before {
  content: "\e647";
}

.icon-deletefill:before {
  content: "\e6a6";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-check:before {
  content: "\e645";
}

.icon-close:before {
  content: "\e646";
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-location:before {
  content: "\e651";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-roundcheck:before {
  content: "\e657";
}

.icon-roundclosefill:before {
  content: "\e658";
}

.icon-roundclose:before {
  content: "\e659";
}

.icon-roundrightfill:before {
  content: "\e65a";
}

.icon-roundright:before {
  content: "\e65b";
}

.icon-unfold:before {
  content: "\e661";
}

.icon-warnfill:before {
  content: "\e662";
}

.icon-warn:before {
  content: "\e663";
}

.icon-camerafill:before {
  content: "\e664";
}

.icon-camera1:before {
  content: "\e665";
}

.icon-likefill:before {
  content: "\e668";
}

.icon-like:before {
  content: "\e669";
}

.icon-list:before {
  content: "\e682";
}

.icon-more:before {
  content: "\e684";
}

.icon-questionfill:before {
  content: "\e690";
}

.icon-question:before {
  content: "\e691";
}

.icon-roundaddfill:before {
  content: "\e6d8";
}

.icon-roundadd:before {
  content: "\e6d9";
}

.icon-fold:before {
  content: "\e6de";
}

.icon-selectionfill:before {
  content: "\e6e1";
}

.icon-barcode:before {
  content: "\e6fb";
}

.icon-sort:before {
  content: "\e700";
}

.icon-upstagefill:before {
  content: "\e70e";
}

.icon-upstage:before {
  content: "\e70f";
}

.icon-female:before {
  content: "\e71a";
}

.icon-male:before {
  content: "\e71c";
}

.icon-peoplefill:before {
  content: "\e735";
}

.icon-people:before {
  content: "\e736";
}

.icon-attentionfill:before {
  content: "\e73c";
}

.icon-attention:before {
  content: "\e73d";
}

.icon-add:before {
  content: "\e767";
}

.icon-move:before {
  content: "\e768";
}

.icon-attentionforbid:before {
  content: "\e7b2";
}

.icon-attentionforbidfill:before {
  content: "\e7b3";
}

.icon-scan_light:before {
  content: "\e7db";
}

.icon-back_light:before {
  content: "\e7e0";
}

.icon-roundtopfill:before {
  content: "\e9d5";
}

